<ion-toolbar color="danger" style="--min-height: 40px;">
  <ion-segment (ionChange)="updateFilter($event)" class="transaction-type-segment" value="all">
    <ion-segment-button value="all">
      <ion-label style="font-size: 0.6rem;">All({{noOfAll}}) : {{sumOfAll|currency:'INR'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="paid">
      <ion-label style="font-size: 0.6rem;">Paid({{noOfPaid}}) : {{sumOfPaid|currency:'INR'}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label style="font-size: 0.6rem;">Pending({{noOfPending}}) : {{sumOfPending|currency:'INR'}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
