<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Manage Transactions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="filterMenu.toggle(true)">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="transactionService.getSelectedDate() | async as startFilter">
    <ion-item>
      <app-date-navigator (selectedDateChange)="transactionService.updateSelectedDateType($event)"
                          [selectedDate]="startFilter"
                          class="d-block w-100"></app-date-navigator>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar *ngIf="transactionService.getSelectedTransactionType() | async as type">
    <ion-segment (ionChange)="onTypeSegmentChange($event)"
                 [ngModel]="type">
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
      <ion-segment-button value="income">
        <ion-label>Incomes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="transactionsPage">

  <!--<pre>{{transactionService.getTransactions()|async|json}}</pre>-->

  <mat-accordion *ngIf="transactionService.getTransactions()|async as data">
    <mat-expansion-panel *ngFor="let transaction of data">
      <mat-expansion-panel-header>
        <mat-panel-title>{{transaction.name}}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <ion-list>
          <ion-item>
            <ion-label>Amount : {{transaction.amount|currency:'INR'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Start Date : {{transaction?.dates.start}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>End Date : {{transaction?.dates.end}}</ion-label>
          </ion-item>
        </ion-list>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

  <ion-fab *ngIf="transactionService.getSelectedTransactionType() | async as type" [edge]="false" class="me-5 mb-5"
           horizontal="end" slot="fixed"
           vertical="bottom">
    <ion-fab-button (click)="addNewExpenses(type)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

<ion-menu #filterMenu contentId="transactionsPage" menuId="first" side="end">
  <ion-header *ngIf="transactionService.getSelectedTransactionType() | async as type">
    <ion-toolbar>
      <ion-title>{{type|titlecase}} Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
