<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Manage Categories</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="opacity: 0;pointer-events: none"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger" style="height: 46px;">
    <ion-segment #typeSegmentRef class="transaction-type-segment" value="expenses">
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
      <ion-segment-button value="income">
        <ion-label>Incomes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--<pre>{{icons$|async|json}}</pre>-->

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>{{typeSegmentRef.value|titlecase}} Category Name</mat-label>
    <input matInput type="text" placeholder="{{typeSegmentRef.value|titlecase}} Category Name">
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label>{{typeSegmentRef.value|titlecase}} Category Icon</mat-label>
    <input type="text" #iconSearchText placeholder="{{typeSegmentRef.value|titlecase}} Category Icon" matInput
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of (icons$ | async)|filterBy:['name']:iconSearchText.value" [value]="option">
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{option.name}}</mat-icon>
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix>{{iconSearchText.value}}</mat-icon>
  </mat-form-field>


  <ion-fab [edge]="false"
           cdkDrag
           cdkDragLockAxis="x"
           class="me-3 mb-3" color="danger"
           horizontal="end" slot="fixed"
           vertical="bottom">
    <ion-fab-button routerLink="/add-or-edit-category/{{typeSegmentRef.value}}" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

