<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center text-capitalize">
      Add New {{type}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="px-5">
  <form #expensesForm="ngForm"
        class="transaction-form px-4 d-flex flex-column align-items-center justify-content-center">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Expenses Title</mat-label>
      <input #title [(ngModel)]="data.name" autocomplete="off" matInput maxlength="50" name="name"
             placeholder="Provide Expenses Time" required type="text">
      <mat-hint align="end">{{title.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Expenses Amount</mat-label>
      <input [(ngModel)]="data.amount" autocomplete="off" matInput name="amount" ngModel placeholder="Expenses Amount"
             required type="number">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" style="margin-top: -10px;">
      <mat-label>Start Date {{data.startDate | date:'dd-MMMM-yyyy'}}</mat-label>
      <input (ngModelChange)="updateEndDate()" [(ngModel)]="data.startDate" [matDatepicker]="picker" autocomplete="off"
             matInput maxlength="50"
             name="startDate" ngModel
             placeholder="Start Date" required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" style="margin-top: -10px;">
      <mat-label>Repeat</mat-label>
      <mat-select #repeatOptionInput (ngModelChange)="updateEndDate()" [(ngModel)]="data.repeatOption"
                  name="repeatOption" required value="never_repeat">
        <mat-option (click)="data.repeatInterval = 1;oldRepeatOption = data.repeatOption;updateEndDate()" value="never">
          Never Repeat
        </mat-option>
        <mat-option (click)="data.repeatInterval = 1;oldRepeatOption = data.repeatOption;updateEndDate()" value="day">
          {{getRepeatOptionLabel('Day', repeatOptionInput.panelOpen)}}
        </mat-option>
        <mat-option (click)="data.repeatInterval = 1;oldRepeatOption = data.repeatOption;updateEndDate()" value="week">
          {{getRepeatOptionLabel('Week', repeatOptionInput.panelOpen)}}
        </mat-option>
        <mat-option (click)="data.repeatInterval = 1;oldRepeatOption = data.repeatOption;updateEndDate()" value="month">
          {{getRepeatOptionLabel('Month', repeatOptionInput.panelOpen)}}
        </mat-option>
        <mat-option (click)="data.repeatInterval = 1;oldRepeatOption = data.repeatOption;updateEndDate()" value="year">
          {{getRepeatOptionLabel('Year', repeatOptionInput.panelOpen)}}
        </mat-option>
        <mat-option (click)="openDialog(repeatOptionModalTemplate)">Custom</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" style="margin-top: -10px;">
      <mat-label>No of Installments</mat-label>
      <input (ngModelChange)="updateEndDate()" [(ngModel)]="data.noOfInstallments" autocomplete="off" matInput
             maxlength="50" min="1"
             name="noOfInstallments" ngModel placeholder="No of Installments" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" style="margin-top: -10px;">
      <mat-label>End Date {{data.endDate | date:'dd-MMMM-yyyy'}}</mat-label>
      <input [(ngModel)]="data.endDate" [matDatepicker]="endDatepicker" autocomplete="off" matInput maxlength="50"
             name="endDate" ngModel placeholder="End Date" readonly required>
      <mat-datepicker-toggle [for]="endDatepicker" disabled matSuffix></mat-datepicker-toggle>
      <mat-datepicker #endDatepicker touchUi></mat-datepicker>
    </mat-form-field>

    <input [ngModel]="data.repeatInterval" name="repeatInterval" type="hidden">
    <input [ngModel]="type" name="type" type="hidden">

    <div class="d-flex" style="margin-top: -10px;">
      <button (click)="modalController.dismiss('close')" class="ms-auto" mat-raised-button style="width: 80px">Cancel
      </button>
      <button (click)="saveExpenses(expensesForm)" [disabled]="expensesForm.invalid" class="ms-3" color="primary"
              mat-raised-button style="width: 80px">
        Save
      </button>
    </div>

  </form>

  <!--<pre>{{data|json}}</pre>-->


</ion-content>


<ng-template #repeatOptionModalTemplate>
  <h1 mat-dialog-title>Repeat every</h1>
  <div mat-dialog-content>
    <div class="w-100 mb-3">
      <form class="row gx-1">
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="modalData.repeatInterval" [value]="1" name="repeatInterval" required>
              <mat-option *ngFor="let opt of repeatDropDownConfig[repeatOption.value]" [value]="opt+1"
                          class="ion-text-center">{{opt + 1}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-8">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select #repeatOption [(ngModel)]="modalData.repeatOption" name="repeatOption" required value="days">
              <mat-option value="day">Days</mat-option>
              <mat-option value="week">Weeks</mat-option>
              <mat-option value="month">Months</mat-option>
              <mat-option value="year">Years</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex">
          <button (click)="data.repeatOption = oldRepeatOption" class="ms-auto" mat-dialog-close mat-raised-button
                  style="width: 80px">Cancel
          </button>
          <button (click)="repeatOptionOkClick()" class="ms-3" color="primary" mat-raised-button style="width: 80px">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- <div mat-dialog-actions>
     <button mat-button mat-dialog-close>Cancel</button>
     <button (click)="repeatOptionOkClick()" mat-button>Ok</button>
   </div>-->
</ng-template>
