// Required
@import "~bootstrap/scss/functions";

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host {
  .transaction-form {
    height: 540px;
    @include media-breakpoint-up(xs) {
      height: 580px !important;
    }
    @include media-breakpoint-up(sm) {
      height: 540px !important;
    }
  }
}
