<h1 mat-dialog-title>Mark {{selectedPayment.instalment}} instalment as Paid</h1>
<form #sampleForm="ngForm" mat-dialog-content>
  <div class="list-group">
    <div class="list-group-item">
      <h6 class="m-0 p-0">{{transaction.type|titlecase}} Name: {{transaction.name}}</h6>
    </div>
    <div class="list-group-item">
      <h6 class="m-0 p-0">Due Date: {{selectedPayment.dueDateString}}</h6>
    </div>
    <div class="list-group-item">
      <p>Paid on:</p>
      <button (click)="picker.open()"
              class="py-2 fs-6 my-1 text-truncate w-100 d-flex justify-content-center align-items-center"
              mat-raised-button style="font-size: 0.7rem">
        {{sampleForm.value.paidOn|date:'dd-MMM-yyyy'|uppercase}}
        <i class="fa fa-calendar ms-2"></i>
        <input [matDatepicker]="picker" [ngModel]="defaultDate" class="d-none" matInput name="paidOn"
               placeholder="MM/DD/YYYY" required>
      </button>
      <mat-datepicker #picker touchUi></mat-datepicker>
    </div>
  </div>

</form>
<div mat-dialog-actions>
  <div class="d-flex w-100 flex-row justify-content-between">
    <div class="col-5">
      <button class="w-100" mat-dialog-close mat-raised-button>No Thanks</button>
    </div>
    <div class="col-5">
      <button (click)="addPayment(sampleForm)" class="w-100" color="warn" mat-raised-button>Mark as Paid</button>
    </div>
  </div>
</div>
