<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header *ngIf="loader.user">
            <img [src]="loader.user.providerData[0].photoURL" alt="Google Profile Photo" class="rounded-circle border me-2"
                 width="40">
            {{loader.user.providerData[0].displayName}}
          </ion-list-header>
          <ion-note *ngIf="loader.user">
            <p class="m-0 p-0 mb-1">{{loader.user.providerData[0].email}}</p>
            <p class="m-0 p-0 mb-1">{{loader.user.providerData[0].uid}}</p>
            <p class="m-0 p-0 mb-1">{{loader.user.providerData[0].phoneNumber}}</p>
          </ion-note>
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="false" lines="none">
              <div>
                <button (click)="logout()" *ngIf="loader.user" class="ms-2" mat-raised-button>Logout</button>
                <button (click)="login()" *ngIf="!loader.user" class="text-danger ms-2" mat-raised-button><i
                  class="fa fa-google text-danger me-2" style="font-size: 2rem"></i>Login with Google
                </button>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngFor="let p of appPages; let i = index" auto-hide="false">
            <ion-item [routerLink]="[p.url]" detail="false" lines="none" routerDirection="root"
                      routerLinkActive="selected">
              <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon ios="bookmark-outline" md="bookmark-sharp" slot="start"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<div *ngIf="!isProduction" class="fixed-top vw-100 vh-100 text-dark d-flex justify-content-center align-items-center"
     style="background-color: white;opacity:0.1;pointer-events: none;font-size: 4rem;">
  <span class="d-inline-block d-sm-none">XS</span>
  <span class="d-none d-sm-inline-block d-md-none">SM</span>
  <span class="d-none d-md-inline-block d-lg-none">MD</span>
  <span class="d-none d-lg-inline-block d-xl-none">LG</span>
  <span class="d-none d-xl-inline-block d-xxl-none">XL</span>
  <span class="d-none d-xxl-inline-block">XXL</span>
</div>

<!--
https://stackoverflow.com/questions/55487516/between-startdate-and-enddate-firestore

https://coderedirect.com/questions/145468/between-startdate-and-enddate-firestore
-->
