ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

:host {
  .transaction-type-segment {
    --min-height: 36px;

    ::ng-deep
    ion-segment-button {
      --min-height: 35px;
      min-height: 35px;
      height: 35px;

      ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}
