<ng-container *ngIf="transactionService.getSelectedDate() | async as selectedDate">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Manage Transactions</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="filterMenu.toggle(true)">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-item>
        <app-date-navigator
          (selectedDateChange)="transactionService.updateSelectedDateType($event);transactionsPage.scrollToTop();"
          [selectedDate]="selectedDate"
          class="d-block w-100"></app-date-navigator>
      </ion-item>
    </ion-toolbar>
    <ion-toolbar *ngIf="transactionService.getSelectedTransactionType() | async as type">
      <ion-segment (ionChange)="onTypeSegmentChange($event)"
                   [ngModel]="type">
        <ion-segment-button value="expenses">
          <ion-label>Expenses</ion-label>
        </ion-segment-button>
        <ion-segment-button value="income">
          <ion-label>Incomes</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-content #transactionsPage [fullscreen]="true" id="transactionsPage">

    <!--<pre>{{transactionService.getTransactions()|async|json}}</pre>-->

    <mat-accordion *ngIf="transactionService.getTransactions()|async as transactions">
      <mat-expansion-panel *ngFor="let transaction of transactions" class="mb-2">
        <mat-expansion-panel-header style="height: 80px;">
          <mat-panel-title>
            <div class="d-flex justify-content-center ion-align-items-center h-100">
              {{transaction.name}}
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="d-flex flex-column justify-content-start">
              <span class="me-2">Repeat Every {{transaction.repeatInterval}} {{transaction?.repeatOption}}</span>
              <span class="me-2">{{transaction?.installment}} Installment</span>
              <span class="me-2">Due Date {{transaction?.dueDate}}</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card style="margin-top: -10px;">
          <div class="border p-2 mt-2 w-100">
            <p class="m-0 p-0 text-danger mb-2 fw-bold">{{selectedDate|date:'MMMM-yyyy'}} Month Info :</p>
            <div class="d-flex justify-content-between w-100 py-1 px-2 border-bottom">
              <span class="text-truncate">Instalment :</span>
              <span>{{transaction.installment}} Instalment</span>
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 border-bottom">
              <span class="text-truncate">Due Date :</span>
              <span>
                <!--{{transaction.startDate|date:'dd'}}-{{selectedDate|date:'MMMM-yyyy'}}-->
                {{transaction?.dueDate}}
              </span>
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 pb-0">
              <span class="text-truncate">Paid on :</span>
              <span>
                Not available
                <!--{{transaction?.paidEmiInfo?.paidOn | date : 'dd-MMMM-yyyy'}}-->
              </span>
            </div>
          </div>
          <div class="border p-2 mt-2 w-100">

            <p class="m-0 p-0 text-danger mb-1 fw-bold">Over-all Info</p>

            <div class="d-flex flex-column justify-content-between w-100 py-1 px-2 pb-2 mt-1 border-bottom">
              <div class="d-flex justify-content-between w-100 py-1 px-2 mt-1">
                <span class="text-truncate">Installments :</span>
                <span>
                Repeat Every
                  {{transaction.repeatInterval > 1 ? transaction.repeatInterval : ''}}
                  {{transaction.repeatOption|titlecase}}
              </span>
              </div>
              <div class="d-flex flex-row w-100">
                <div
                  class="col-4 py-1 d-flex justify-content-between align-items-center flex-column border border-end-0">
                  <span class="text-truncate">Total</span>
                  <span class="text-danger fw-bold">{{transaction.noOfInstallments}}</span>
                </div>
                <div class="col-4 py-1 d-flex justify-content-between align-items-center flex-column border">
                  <span class="text-truncate">Paid</span>
                  <span class="text-danger fw-bold">4</span>
                  <!--<span>{{transaction?.payments?.length}}Months</span>-->
                </div>
                <div
                  class="col-4 py-1 d-flex justify-content-between align-items-center flex-column border border-start-0">
                  <span class="text-truncate">Pending</span>
                  <span class="text-danger fw-bold">0</span>
                  <!--<span>{{transaction.notSettledEmi}}Months</span>-->
                </div>
              </div>
            </div>


            <div class="d-flex justify-content-between w-100 py-1 px-2 mt-1 border-bottom">
              <span class="text-truncate">Start Date :</span>
              <span>{{transaction.dates.start}}</span>
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 border-bottom">
              <span class="text-truncate">End Date :</span>
              <span>{{transaction.dates.end}}</span>
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 border-bottom">

              <span class="text-truncate">Category :</span>
              <!--<span>{{getLabelByList(transaction.category, expensesCategories)}}</span>-->
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 border-bottom">
              <span class="text-truncate">Payee :</span>
              <!--<span>{{getLabelByList(transaction.payee, payees)}}</span>-->
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 border-bottom">
              <span class="text-truncate">Spending For :</span>
              <!--<span>{{getLabelByList(transaction.for, expensesFor)}}</span>-->
            </div>
            <div class="d-flex justify-content-between w-100 py-1 px-2 pb-0">
              <span class="text-truncate">Tax Savings :</span>
              <!--<span>{{getLabelByList(transaction.taxDeductionSection, taxDeductionSections)}}</span>-->
            </div>
          </div>


        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>

    <ion-fab *ngIf="transactionService.getSelectedTransactionType() | async as type" [edge]="false" class="me-3 mb-3"
             horizontal="end" slot="fixed"
             vertical="bottom">
      <ion-fab-button (click)="addNewExpenses(type)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


  </ion-content>
  <ion-menu #filterMenu contentId="transactionsPage" menuId="first" side="end">
    <ion-header *ngIf="transactionService.getSelectedTransactionType() | async as type">
      <ion-toolbar>
        <ion-title>{{type|titlecase}} Filter</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

</ng-container>
